# Ignore virtual environments
/envJarvis/
/.venv/
/.venv311/

# Ignore contact.csv
contacts.csv

# Ignore jarvis.db
jarvis.db

# Ignore Python bytecode files in backend
/backend/__pycache__/ 

# Ignore Python bytecode and cache folders project-wide
__pycache__/
*.py[cod]

# Ignore backend cookie.json
/backend/cookie.json
